<!DOCTYPE html> {% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">
		<title>{% block title %}{% endblock %} | Envybees Global</title>
	</head>

	<body>
		<header>
			<div class="container">
				<div class="logo">
					<a href="/"><strong class="envy">Envy</strong>bees <span>Global</span></a>
				</div>

				<nav>
					<ul>
						<li><a href='/'>Home</a></li>
						<li><a href="{% url 'product:product' %}">Products</a></li>
						<li><a href="{% url 'core:service' %}">Our Services</a></li>
						<li><a href="{% url 'core:about' %}">About Us</a></li>
						<li><a href="{% url 'core:contact' %}">Contact Us</a></li>
					</ul>
				</nav>
		</header>
		{% block content %}
		{% endblock %}

		<footer>
			<div class="container">
				<div class="footer-content">
					<div class="footer-section about">
						<h1>About Us</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at ornare nibh. Integer at ultricies elit.</p>
					</div>

					<div class="footer-section links">
						<h2>Quick Links</h2>
						<ul>
							<li><a href='/'>Home</a></li>
							<li><a href='#products'>Products</a></li>
							<li><a href='#services'>Services</a></li>
							<li><a href='#about'>About Us</a></li>
							<li><a href='#contact'>Contact Us</a></li>
						</ul>
					</div>

					<div class="footer-section contact-form">
						<h2>Contact Us</h2>
						<form action="#" method="post">
							<input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
							<textarea rows="4" name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
							<button type="submit" class="btn btn-big contact-btn">
								<i class="fas fa-envelope"></i>
								Send
							</button>
						</form>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
