{% extends 'core/base.html' %} {% load static %}

{% block title %}Our Services{% endblock %}

{% block content %}
<section class="service">
    <h2 class="heading">Our Services</h2>
    <div class="service-item">
        <img src="/static/assets/Tdell.jpg" alt="Service 1">
        <h3>We buy and sell both new and refublished systems</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel optio possimus perferendis rem dicta molestias ea distinctio aliquid repellendus laboriosam magni voluptatibus eum perspiciatis at quidem, ex pariatur. Sunt, maxime.</p>
    </div>
    <div class="We fix  laptops">
        <img src="/static/assets/texhstuff2.jpeg" alt="Service 2">
        <h3>Service 2 Title</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum odio praesentium provident facere. Rem amet ipsa obcaecati, quia voluptate, pariatur accusantium enim voluptatem velit praesentium, natus magnam ut incidunt molestiae.</p>
    </div>
</section>
{% endblock %}

