.sidebar {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 55px;
	background: white;
	width: 72px;
	z-index: 200;
	padding-top: 5px;
}

.sidebar-link {
	height: 74px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	border-radius: 15px;
	transition: background-color 0.15s;
}

.sidebar-link:hover {
	background-color: rgb(235, 235, 235);
}
.sidebar-link:active {
	background-color: rgb(255, 255, 255);
}
.sidebar-link img {
	height: 24px;
	margin-bottom: 4px;
}

.sidebar-link div {
	font-size: 10px;
}
