.cover,
.cover2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cover2{
	object-position: top;
}


.dp{
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50px;
}


.video-title{

	width: 80%;
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 10px;
}

.video-author,
.video-stats{
	font-size: 12px;
	color: rgb(96, 96, 96);
}

.video-author{
	margin-bottom: 4px;
}

.video-info-grid{
	font-family: roboto,Arial;
	display: grid;
	grid-template-columns: 50px 1fr;
	padding-bottom: 50px
}

.video-preview {
	min-width: 100%;
	transition: background-color 0.15s;
}

.video-preview:hover{
	background-color: rgb(220, 220, 220);
	border-radius: 10px;
	height: 100%;
}

.video-preview:active {
        border-radius: 10px;
        height: 100%;
	background-color: rgb(248, 248, 248);
}
.cover-row{
	margin-bottom: 8px;
	position: relative;
	height: 0%;
	padding-top: 56.25%;
	width: 100%;
	overflow: hidden;
	border-radius: 19px;
}

.video-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 40px;
}

@media (max-width: 750px) {
	.video-grid{
        grid-template-columns: 1fr 1fr;
}

}
@media (min-width: 751px) and (max-width: 1499px) {
	.video-grid{
        grid-template-columns: 1fr 1fr 1fr;
}
}

@media (min-width: 1500px) {
	.video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
}

}

.video-time {
	background-color:black;
	color: white;
	position: absolute;
	bottom:5px;
	right: 20px;
	font-size: 12px;
	font-weight: 500;
	padding: 4px;
	border-radius: 2px;
}
