{% extends 'core/base.html' %} {% load static %} {% block title %}Products{%endblock %} 

{% block content %}
<h1>All Products</h1>
<div class="product-list">
  {% for product in products %}
  <a href="{% url 'product:detail' product.id %}" class="product-url">
    <div class="product-card">
      <div>
        {% if product.get_image %}
        <img src="{{ product.get_image }}" alt="Product Image" />
        {% else %}
        <p>No image available for this product.</p>
        {% endif %}
      </div>

      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <span>NGN{{ product.price }}</span>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
